torch==2.0.1
torchvision==0.15.2
python-dotenv
accelerate
transformers
invisible-watermark
fastapi
gunicorn
uvicorn
oss2
numpy>=1.17
PyWavelets>=1.1.1
opencv-python>=4.1.0.25
safetensors
xformers==0.0.22
git+https://github.com/huggingface/diffusers.git
